.homepage {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        h1 {
            font-size: 128px;
            background: linear-gradient(to right, #217bfe, #e55571);
            background-clip: text;
            color: transparent;
        }

        h3 {
            font-weight: 400;
            max-width: 70%;
        }

        a {
            padding: 12px 20px;
            background-color: #217bfe;
            color: white;
            border-radius: 17px;
            font-size: 17px;
            margin-top: 20px;

            &:hover {
                background-color: white;
                color: #217bfe;
            }
        }
    }

    .right {
        flex: 1;
    }
}
