* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0c16;
    color: #ececec;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
